<div class="users-edit-photo">
  <div class="message-color">

    <h1>ユーザー情報変更</h1>

    <%= render 'form', user: @user %>

    <%= link_to '詳細表示', @user %> |
    <%= link_to '戻る', users_path %>
  </div>
  <img src="/assets/barthelemy-de-mazenod-6JwbqTzKiF8-unsplash.jpg" width="100%" height:"100%">
</div>
