<p id="notice"><%= notice %></p>

<h1>Events</h1>

<%= month_calendar events: @events do |date, events| %>
  <%= date %>

  <% events.each do |_| %>
    <div>
      <p>◯</p>
      <a href = "#">編集する</a>
    </div>
  <% end %>
<% end %>

<%= link_to 'New Event', new_event_path %>