<header class="all">
    <div id="nav_title">
        <h1 class="app_name">家計簿サンプルアプリ</h1>
    </div>

    <div class="nav">
        <ul>
            <li>test1</li>
            <li>test2</li>
            <li>test3</li>
            <li>test4</li>
            <li>test5</li>
        </ul>
    </div>
</header>