<header class="all">
    <div id="nav">
        <ul>
            <li class="app_name">家計簿サンプルアプリ</li>
            <li>test1</li>
            <li>test2</li>
            <li>test3</li>
            <li>test4</li>
            <li>test5</li>
        </ul>
    </div>
</header>