<div class="all">
    <p class="header_name">家計簿サンプルアプリ
        <ul class="header_name header_element">test1</ul>
        <ul class="header_name header_element">test2</ul>
        <ul class="header_name header_element">test3</ul>
        <ul class="header_name header_element">test4</ul>
        <ul class="header_name header_element">test5</ul>
    </p>
</div>